<h1 class="mb-5"><span id="first-name" data-name="Nate"></span> <span class="text-highlight" id="last-name" data-name="Shoffner"></span></h1>

<div class="row">
    <div class="col-12 col-md-12 col-lg-6">
        <h3 class="subheading mb-5">About</h3>
        <p>Software engineer based in Lancaster, Pennsylvania. Passionate about all things tech, solving interesting problems, and [simultaneously] breaking and building things in order to create something to be proud of.</p>
        <p class="mb-5">I enjoy working on lots of little passion projects which you can find on my <a href="https://github.com/nateshoffner">GitHub</a>, especially ones that are pertinent to my local community and it's thriving <a href="https://techlancaster.com/">tech scene</a>. </p>
    </div>
    <div class="col-12 col-md-12 col-lg-6">
        <h3 class="subheading mb-5">Skills/Strengths</h3>

        <div class="d-lg-inline-flex flex-row">
              <ul class="highlighted inlined-list">
                  <li>Problem-Solving</li><li>Effective Communication</li><li>Thriving Under Pressure</li><li>Always Curious, Always Learning</li><li>Enthusiastically Adaptable</li><li>Embraces Mentorship</li>
              </ul>
        </div>

    </div>

</div>
