<h1 class="mb-5"><span id="first-name" data-name="Nate"></span> <span class="text-highlight" id="last-name" data-name="Shoffner"></span></h1>

<div class="row">
    <div class="col-12 col-md-12 col-lg-6">
        <h3 class="subheading mb-5">About</h3>
        <p>Software engineer based in Lancaster, Pennsylvania. Passionate about all things tech, solving interesting problems, learning how things work, and [simultaneously] breaking and building things in order to create something to be proud of.</p>
        <p>Currently working at <a href="https://theindustrialresolution.com/">Industrial Resolution</a> as a Senior Software / <a href="https://certified.elastic.co/d2170b39-7c27-4811-952f-3085d6a0dda5">Elastic Certified Engineer</a>.</p>
        <p class="mb-5">I enjoy working on lots of little passion projects which you can find on my <a href="https://github.com/nateshoffner">GitHub</a> and getting involved within my <a href="https://techlancaster.com/">local tech scene</a>.</p>
    </div>
    <div class="col-12 col-md-12 col-lg-6">
        <h3 class="subheading mb-5">Interests</h3>

        <div class="d-lg-inline-flex flex-row">
              <ul class="highlighted inlined-list">
                  <li>Full-Stack Development</li><li>Reverse Engineering</li><li>Homelabbing</li><li>API Development</li><li>Elasticsearch</li><li>Home Automation</li>
              </ul>
        </div>

    </div>

</div>
