<h1 class="mb-5"><span id="first-name" data-name="Nate"></span> <span class="text-highlight" id="last-name" data-name="Shoffner"></span></h1>

<div class="row">
    <div class="col-12 col-md-12 col-lg-6">
        <h3 class="subheading mb-5">About</h3>
        <p class="mb-5">My name is Nate Shoffner. I am a passionate, self-taught software engineer based in Lancaster, Pennsylvania with over 10 years of experience in various technologies, frameworks, and platforms. 
    </div>
    <div class="col-12 col-md-12 col-lg-6">
        <h3 class="subheading mb-5">Experienced With</h3>

        <div class="d-lg-inline-flex flex-row">
              <ul class="highlighted inlined-list">
                  <li>Android Development</li><li>Windows Development</li><li>Responsive Web Design</li><li>Full-Stack Development</li><li>API Design</li><li>Developer Operations</li>
              </ul>
        </div>

    </div>
</div>
