<footer>
    <div class="col-md-12">
        <a href="{{ site.baseurl }}/feed.xml" class="social"><i class="fa fa-rss"></i></a>
        <a href="https://bitbucket.org/NateShoffner/" target="_blank" class="social"><i class="fa fa-bitbucket"></i></a>
        <a href="https://github.com/NateShoffner" target="_blank" class="social"><i class="fa fa-github"></i></a>
        <a href="https://twitter.com/NateShoffner" target="_blank" class="social"><i class="fa fa-twitter"></i></a>
        <a href="http://www.linkedin.com/in/NateShoffner" target="_blank" class="social"><i class="fa fa-linkedin"></i></a>
        <a href="{{ site.baseurl }}/contact/" class="social"><i class="fa fa-envelope"></i></a>
    </div>

    <div class="col-md-12">
        <p>&copy; Nate Shoffner, {{ site.time | date: '%Y' }}. All rights reserved.</p>
    </div>
</footer>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>