<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Nate Shoffner" />
    <title>{% if page.title %} {{ page.title }} &bull; {% endif %}Nate Shoffner</title>
    <link rel="shortcut icon" href="{{ site.base_url }}/assets/images/logo.png">
    <link rel="stylesheet" href="{{ site.base_url }}/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.base_url }}/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.base_url }}/assets/css/style.css">
    <link rel="stylesheet" href="{{ site.base_url }}/assets/css/pygment.css">
    <script src="{{ site.base_url }}/assets/js/main.js"></script>
    <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="{{ site.base_url }}/vendor/bootstrap/js/bootstrap.min.js"></script>
    <link rel="alternate" type="application/rss+xml" href="{{ site.baseurl}}/feed.xml" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
