<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Nate Shoffner" />
    <meta content="{{ site.title }}" property="og:site_name">
    <meta content="{% if page.title %} {{ page.title }} &bull; {% endif %}Nate Shoffner" property="og:title">
{% if page.description %}
    <meta content="{{ page.description }}" property="og:description">
{% else %}
    <meta content="{{ site.description }}" property="og:description">
{% endif %}
{% if page.url %}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
{% endif %}
{% if page.date %}
    <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    <meta content="{{ site.url }}/about/" property="article:author">
{% endif %}
{% if page.categories %}
    {% for category in page.categories limit:1 %}
    <meta content="{{ category }}" property="article:section">
    {% endfor %}
{% endif %}
{% if page.tags %}
    {% for tag in page.tags %}
    <meta content="{{ tag }}" property="article:tag">
    {% endfor %}
{% endif %}
{% if page.title %}
    <meta content="article" property="og:type">
{% else %}
    <meta content="website" property="og:type">
{% endif %}
    <title>{% if page.title %}{{ page.title }} &bull; {% endif %}Nate Shoffner</title>
    <link rel="shortcut icon" href="{{ site.base_url }}/assets/images/logo.png">
    <link rel="stylesheet" href="{{ site.base_url }}/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.base_url }}/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.base_url }}/assets/css/style.css">
    <link rel="stylesheet" href="{{ site.base_url }}/assets/css/pygment.css">
    <script src="{{ site.base_url }}/assets/js/main.js"></script>
    <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="{{ site.base_url }}/vendor/bootstrap/js/bootstrap.min.js"></script>
    <link rel="alternate" type="application/rss+xml" href="{{ site.baseurl}}/feed.xml" />
    {% if page.custom_css %}
        {% for stylesheet in page.custom_css %}
            <link rel="stylesheet" href="{{ stylesheet }}" media="screen" type="text/css">
        {% endfor %}
    {% endif %}
    {% if page.custom_js %}
        {% for script in page.custom_js %}
            <script src='{{ script }}' type="text/javascript"></script>
        {% endfor %}
    {% endif %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
