{% assign post = include.post %}
{% assign excerpt = post.excerpt  | truncatewords: include.excerpt_length | replace: ":</p>", "...</p>" %}

<div class="post-excerpt-container">
    <div class="media">
        <div class="media-left media-{% if include.media_align %}{{ include.media_align }}{% else %}top{% endif %}">
        {% if post.image %}
            <img src="/assets/images/posts/{{ post.image }}" class="post-excerpt-image">
        {% else %}
            <img src="/assets/images/post.png" class="post-excerpt-image">
        {% endif %}
        </div>
        <div class="media-body">
                <div class="post-excerpt-title"><a href="{{ post.url }}">{{ post.title }}</a></div>
                <div class="post-excerpt-date"><i class="fa fa-calendar"></i> {{ post.date | date: '%B %d, %Y' }}</a></div>
                <div class="post-excerpt-content">{{ excerpt }}</div>
                <span class="pull-right">
                <i class="fa fa-comments"></i> <a href="{{ post.url }}#comments"><span class="disqus-comment-count" data-disqus-url="{{ site.url }}{{ post.url }}">0 Comments</span></a> | 
                <a href="{{ post.url }}">Read More &raquo;</a></span>
        </div>
    </div>
</div>