{% assign post = include.post %}
{% assign excerpt = post.excerpt | truncatewords: include.excerpt_length %}
{% if include.strip_html %}
    {% assign excerpt = excerpt | strip_html %}
{% endif %}

<div class="post-excerpt">
    <div class="post-excerpt-title"><a href="{{ post.url }}">{{ post.title }}</a></div>
    <div class="post-excerpt-date"><i class="fa fa-calendar"></i> {{ post.date | date: '%B %d, %Y' }}</a></div>
    <div class="post-excerpt-content">{{ excerpt }}</div>
    <i class="fa fa-comments"></i> <a href="{{ post.url }}#comments"><span class="disqus-comment-count" data-disqus-url="{{ site.url }}{{ post.url }}">0 Comments</span></a>
    <span class="pull-right"><a href="{{ post.url }}">Read More &raquo;</a></span>
</div>
