{% assign project = include.project %}
{% include get_project_image.liquid project=project %}

{% assign post = include.post %}
{% include get_post_image.liquid post=post %}

<div class="card project-card h-100 pt-2">
    <a href="{{ site.project_path | prepend: site.baseurl | replace: ':slug', project.slug }}">
        <img class="card-img-top img-fluid project-card-image" src="/assets/images/projects/{{ project.slug }}/{{ project_image }}">
    </a>
    <div class="card-body">
      <h5 class="card-title"><a href="{{ site.project_path | prepend: site.baseurl | replace: ':slug', project.slug }}">{{ project.name }}</a></h5>
      <p class="card-text">{{ project.description }}</p>
      <p class="card-text"><a href="{{ site.project_path | prepend: site.baseurl | replace: ':slug', project.slug }}">Read More &raquo;</a></p>
    </div>
</div>