.project-card {

    .project-card-image  {
        width: 100%!important;
        height: 200px!important;
        object-fit: contain;
    }
}

.project {

    .project-logo {
        max-height: 128px;
    }

    .project-image {
        margin-bottom: 10px;
        margin-right: 10px;
    }

    @media (min-width: 992px) {

        .project-image {
            max-height: 256px;
        }

    }

    table {
        border: 01px solid $gray-400;

        th {
            @include heading-font;
            font-weight: 600;
        }

    }

    @media (max-width: 767.98px) { 

        .project-images-container {
            text-align: center;
        }
    }

    td.download {
        vertical-align: middle;
    }
}