---
layout: default
title: Blog
---

<div class="blog-container">
{% for post in paginator.posts %}
    {% include post.html post=post show_comments=false clickable=true %}
{% endfor %}
</div>

{% assign page_amount = 5 %}
{% if page.paginate.page_amount %}
{% assign page_amount = page.paginate.page_amount %}
{% endif %}
{% assign page_amount_min = page_amount | minus: 2 %}
{% assign offset = page_amount_min | divided_by: 2 %}
{% assign page_amount_prev = paginator.page | minus: offset %}
{% assign page_amount_next = paginator.page | plus: offset %}
{% assign totalpages = paginator.total_pages %}

{% if page_amount_prev <= 1 %}
{% assign page_amount_prev_fix = page_amount_prev | minus: 1 %}
{% assign page_amount_prev = 0 %}
{% assign page_amount_next = page_amount_next | minus: page_amount_prev_fix | plus: 1 %}
{% endif %}

{% if page_amount_next >= totalpages %}
{% assign page_amount_next_fix = totalpages | minus: page_amount_next | minus: 1 %}
{% assign page_amount_next = totalpages %}
{% assign page_amount_prev = page_amount_prev | plus: page_amount_next_fix %}
{% endif %}

{% if paginator.total_pages > 1 %}
<nav class="post-pagination text-center">
    <ul class="pagination">
        <li{% if paginator.previous_page == null %} class="disabled"{% endif %}><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Previous"><span aria-hidden="true">Previous</span></a></li>

        {% if paginator.page == 1 %}
            <li class="active"><span aria-hidden="true">1</span></li>
        {% else %}
            <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: 'page/:num', '' }}">1</a></li>
            {% if page_amount_prev > 2 %}
                <li><span aria-hidden="true">...</span></li>
            {% endif %}
        {% endif %}

        {% for count in (2..paginator.total_pages) %}
        {% if count >= page_amount_prev and count <= page_amount_next %}
        {% assign relative_to_current = paginator.page | minus: count | replace: '-', '' | divided_by: 1 %}
        {% unless count == totalpages %}
            <li class="{% if count == paginator.page %}active{% endif %}">
                <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', count }}">{{ count }}</a>
            </li>
        {% endunless %}
        {% endif %}
        {% endfor %}

        {% if paginator.page == totalpages %}
            <li class="active"><span aria-hidden="true">{{ totalpages }}</span></li>
        {% else %}
            {% if totalpages > page_amount_next | minus: 2 %}
                <li><span aria-hidden="true">...</span></li>
            {% endif %}
            <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', totalpages }}">{{ totalpages }}</a></li>
        {% endif %}


        <li{% if paginator.next_page == null %} class="disabled"{% endif %}><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Next"><span aria-hidden="true">Next</span></a></li>
    </ul>
</nav>
{% endif %}

{{ page_amount_next }}

<script type="text/javascript" src="{{ site.baseurl }}/vendor/fancybox/jquery.fancybox.pack.js"></script>
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/vendor/fancybox/jquery.fancybox.css" media="screen" />
<script type="text/javascript">init_fancybox();</script>

<!-- Used for Disqus comment counts -->
<script id="dsq-count-scr" src="//{{ site.disqus_shortname }}.disqus.com/count.js" async></script>