---
layout: default
---

{% include url_decode.liquid param=page.tag %}

<div class="row">
    <div class="col-xs-12">
        <span class="post-title">Posts tagged with '{{ decoded }}'</span>
    </div>
</div>

<div class="blog-container">
{% for post in site.posts %}
    {% include array_contains_case_insensitive.liquid collection=post.tags filter=decoded %}
    {% if contains_item %}
        {% include post_excerpt.html post=post excerpt_length=80 %}
    {% endif %}
{% endfor %}
</div>

<script type="text/javascript" src="{{ site.baseurl }}/vendor/fancybox/jquery.fancybox.pack.js"></script>
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/vendor/fancybox/jquery.fancybox.css" media="screen" />
<script type="text/javascript">init_fancybox();</script>

<!-- Used for Disqus comment counts -->
<script id="dsq-count-scr" src="//{{ site.disqus_shortname }}.disqus.com/count.js" async></script>