---
layout: default
---

{% include post.html post=post show_comments=true show_navigation=true %}

<script type="text/javascript" src="{{ site.baseurl }}/vendor/fancybox/jquery.fancybox.pack.js"></script>
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/vendor/fancybox/jquery.fancybox.css" media="screen" />
<script type="text/javascript">init_fancybox();</script>

<!-- Used for Disqus comment counts -->
<script id="dsq-count-scr" src="//{{ site.disqus_shortname }}.disqus.com/count.js" async></script>